MAR.DataAccess/Connected Services/WSLotteryVIP/LotteryAuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CartaBingo" nillable="true" type="tns:Carta" />
      <xs:element minOccurs="0" name="CodResp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescResp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTicketPozo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaAuth" nillable="true" type="tns:RespuestaAuth" />
  <xs:complexType name="Carta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodSorteo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSorteo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCarta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSorteo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaBingo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carta" nillable="true" type="tns:Carta" />
</xs:schema>