ClienteMarWPFWin7.Domain/Connected Services/BingoService/mar-bingo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="mar.do" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="mar.do" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="mar.do">
      <s:element name="CallJuegaMaxIndexFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pMetodo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pSesion" type="tns:MAR_Session" />
            <s:element minOccurs="0" maxOccurs="1" name="pParams" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="pSolicitud" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MAR_Session">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Banca" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Usuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sesion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTck" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastPin" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrinterSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PrinterHeader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrinterFooter" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MAR_BingoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OK" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Respuesta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallJuegaMaxIndexFunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallJuegaMaxIndexFunctionResult" type="tns:MAR_BingoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallJuegaMaxIndexFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:CallJuegaMaxIndexFunction" />
  </wsdl:message>
  <wsdl:message name="CallJuegaMaxIndexFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:CallJuegaMaxIndexFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="mar_bingoSoap">
    <wsdl:operation name="CallJuegaMaxIndexFunction">
      <wsdl:input message="tns:CallJuegaMaxIndexFunctionSoapIn" />
      <wsdl:output message="tns:CallJuegaMaxIndexFunctionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mar_bingoSoap" type="tns:mar_bingoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallJuegaMaxIndexFunction">
      <soap:operation soapAction="mar.do/CallJuegaMaxIndexFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mar_bingoSoap12" type="tns:mar_bingoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallJuegaMaxIndexFunction">
      <soap12:operation soapAction="mar.do/CallJuegaMaxIndexFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mar_bingo">
    <wsdl:port name="mar_bingoSoap" binding="tns:mar_bingoSoap">
      <soap:address location="http://pruebasmar.ddns.net/Mar-Svr5/mar-bingo.asmx" />
    </wsdl:port>
    <wsdl:port name="mar_bingoSoap12" binding="tns:mar_bingoSoap12">
      <soap12:address location="http://pruebasmar.ddns.net/Mar-Svr5/mar-bingo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>